@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
* {
    font-family: 'Fira Code', monospace;
}

.row {
    gap: 1.5rem;
}

.col-md-4 {
    background: #3A1108D6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}

.votes {
    cursor: pointer;
}

.toggle {
    text-decoration: underline;
    cursor: pointer;
}