<div class="container">
    <h3 class="p-3 text-center">THE QOUTE-PEDIA-BOOK</h3>
    <div align="center" class=" row ">

        <div class="col-md-3 gap-2 text-white rounded " *ngFor="let quote of quotes; let i = index ">

            {{quote.quote}}

            <div class="votes d-flex gap-3 ">

                <div class="upvote " #upvote (click)="log(upvote.textContent)" (click)="upVote(i, true)">{{quote.un}} <img src="../../assets/upvote.svg " alt="upvote image "></div>
                <div class="downvote " (click)="downVote(i, true)">{{quote.dn * -1}} <img src="../../assets/downvote.svg " alt="downvote image "></div>


            </div>

            <span class="text-warning toggle " (click)="toggleDetails(i)">Show More details</span>
            <app-quote-details *ngIf="quote.showDetails" [quote]="quote"></app-quote-details>

        </div>

        <div class="col-md-3 gap-2 text-white rounded">
            <button class="btn btn-dark " type="button ">Add Quote</button>
            <h5>DATE: NOW</h5>
            <h5>{{quotes[1].date | date | lowercase}}</h5>
        </div>

    </div>
    <div class="form-wrapper">
        <app-quote-form (addNewQuote)="pushNewQuote($event)"></app-quote-form>
    </div>
</div>


<footer align="center" class="mt-5 ">
    <p>Coded by
        <a href="https://github.com/devjamesnjoroge " target="_blank ">James Njoroge</a> © 2022 ® | Challenge by
        <a href="https://moringaschool.com " target="_blank ">Moringa school</a>
    </p>
</footer>