    form {
        padding: 10% 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: relative;
        border-radius: 10px;
    }
    
    #closeForm {
        position: absolute;
        margin-top: -60vh;
        margin-left: 45vw;
        cursor: pointer;
        padding: 0 2px;
        border: 1px solid white;
    }
    
    textarea {
        height: 20vh;
    }
    
    input,
    textarea {
        width: 35vw;
    }
    
    @media screen and (max-width:992px) {
        form {
            padding: 5% 1%;
        }
    }